.contact-directory-page .search-button {
    // vertically centers the search button with the text input.
    margin-top: 8px;
}

.contact-directory-page .search-form {
	margin-bottom: 15px;
}

.contact-directory-page .search-term {
	font-size: 1.3em;
    padding: 6px;
}

.contact-directory-page .items thead tr
{
	border-bottom: 1px dotted #ececec;
	height: 35px;
}

.contact-directory-page .items thead th
{
	min-width: 170px;
	text-align: left;
}

.contact-directory-page .items tbody tr
{
	height: 30px;
}

.single-contact-page .data
{
	margin-bottom: 7px;
}

.single-contact-page h2
{
	margin: 25px 0 10px 0;
}

.single-contact-page .data .field
{
	font-weight: bold;
	float: left;
	min-width: 130px;
}

.single-contact-page .data .list-field
{
	font-weight: bold;
}

.single-contact-page .data .value
{
	margin-left: 80px;
}

.single-contact-page .manages-list
{
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
}

.single-contact-page .data:before, .single-contact-page .data:after { content: ""; display: table; }
.single-contact-page .data:after { clear: both; }
.single-contact-page .data { *zoom: 1; }

